name: main
permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  testing:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.88
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-hack@0.4.7
      - name: Build
        run: cargo hack build --each-feature --verbose
      - name: Tests
        run: cargo test --verbose
      - name: Delete Cargo.lock
        run: rm Cargo.lock
      - name: Publish Dry-Run
        run: cargo publish -p cargo-ensure-no-cyclic-deps --dry-run

  static-analysis:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.88
          components: clippy, rustfmt
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-audit@0.21.2, cargo-udeps@0.1.57, cargo-rdme@1.4.8, cargo-workspaces@0.4.0
      - name: Clippy
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings
      - name: Audit
        run: cargo audit
      - name: Format
        run: cargo fmt -- --check
      - name: Docs
        run: cargo doc --no-deps --workspace --all-features
      - name: Udeps
        run: cargo +nightly udeps --all-features --workspace
      - name: Readme
        run: cargo workspaces exec cargo rdme --check --no-fail-on-warnings

  mutation-testing:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.88
          components: clippy, rustfmt
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-mutants@25.3.1, cargo-udeps@0.1.57
      - name: Mutate
        run: cargo mutants --test-workspace=true --colors=never --jobs=2 --build-timeout=120 --cap-lints=true

  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust Nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: llvm-tools-preview
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-llvm-cov@0.6.18
      - name: Build
        run: cargo build
      - name: Generate Coverage
        run: cargo +nightly llvm-cov --all-features --workspace --tests --lcov --output-path lcov.info

